{% extends 'front/base.html' %}
{% block header %}
            <div class="col-4 pt-1">
                <a class="text-muted" href="{{ url_for('blueprint.index') }}">返回</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">
                        {{blog.title}}
                </a>
            </div>

{% endblock %}


{% block main %}
<div class="col-md-12 blog-main">
            <div class="blog-post">
                <!--<h2 class="blog-post-title">{{blog.title}}</a></h2>-->
                <p class="blog-post-meta">{{blog.date}}<a
                        href=""></a></p>
                {{blog.content | safe}}
            </div><!-- /.blog-post -->
</div>
{% endblock %}